<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <ul class="well nav nav-pills">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li><a href="#">Actions</a></li>
        <li class='disabled'><a href="#">Messages</a></li>
      </ul>
      <div class="alert alert-success">
        <h4>Yo, enter a name boss!</h4>
        <input type='text' value='type something here' name='username' /><br>
        <input type='submit' value='HIT ME' action='post'/><br><br>
          <div class="btn-group">
            <button class="btn">Left</button>
            <button class="btn">Middle</button>
            <button class="btn">Right</button>
          </div>
      </div>
    </div>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 70%"></div>
    </div>
  </body>
</html>