<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="alert alert-success">
        <h4>Yo, enter your name boss!</h4><br>
        <form action='/get_name' method='post'>
          <input type='text' name='username' />&nbsp;&nbsp;&nbsp;
          <input type='submit' action='post'/>
        </form>
      </div>
    </div>
  </body>
</html>